<section class="deliciousness_meter">
	<div class="bar_border">
		<div class="bar">
			<div class="buffering"></div>
		</div>
	</div>
</section>


<section class="flavour_selection">
	<ul class="flavours">
		<li id="ketchup"><%= image_tag "ketchup.png" %></li>
		<li id="butter"><%= image_tag "butter.png" %></li>
		<li id="truffle_oil"><%= image_tag "truffle_oil.png" %></li>
		<li id="dill_pickle"><%= image_tag "dill_pickle.png" %></li>
		<li id="blue_cheese"><%= image_tag "blue_cheese.png" %></li>
		<li id="salt"><%= image_tag "salt.png" %></li>
		<li id="pepper"><%= image_tag "pepper.png" %></li>
	</ul>
</section>

<section class="drop_zone">
	<%= image_tag "popcorn_bag.png", class: "popcorn" %>
</section>